/* Declare variables in the 'root selector */
:root {
    --darkBlue: #023047;
    --orangeYellow: #fb8500;
    --spacing: 10px;
}

article {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--darkBlue);
    color: var(--orangeYellow);
    padding: var(--spacing);
    margin: var(--spacing);
}

#article2 {
    --darkBlue: #0f9a00;
}