.box1 {
    height: 200px;
    width: 200px;
    background-color: dodgerblue;
    border: 2px solid black;
}

.box2 {
    height: 100px;
    width: 100px;
    background-color: crimson;
    border: 2px solid black;
}

/* Position Examples */
.box1 {
    /* position: static */

    /* Relative allows us to offset an element based on its natural starting point */
    /* position: relative; */
    /* top: 500px; */

    /* Fixed allows us to fix an element in a certain position in the browser */
    /* position: fixed; */
    /* top: 500px;
    right: 0; */

    /* Sticky will position an element in its natural position but stick the element to a specified point when scrolled past */
    position: sticky;
    top: 0;
    bottom: 0;
}

.box2 {
    /* Absolute positions the element absolutely inside its closest NON-STATIC position element */
    /* Otherwise it will be positioned absolutely in the viewport */
    position: absolute;
    bottom: 50px;
    right: 50px;
}